node_modules
.gitlab-ci.yml
.github
.DS_Store
.npm
.git
create-npm-package-cli-*.tgz
package/
.DS_Store
src
vitest.config.*
tsconfig.*
.vscode
.prettierrc.*
.releaserc.*
.gitignore
src/spec
dist/package.json
